@import '~antd/dist/antd.less';

#app {
  height: 100%;
}

// 主体颜色
@theme-normal-bg: #F5F7FA;
// 紫色
@theme-normal-pop: #7A57D1;
// 蓝色
@theme-normal-blue: #50C1E9;
// greem
@theme-normal-green: #5BE7C4;