@import '~antd/dist/antd.less';

// 默认主题
@barbgColor-default: white; 
@barFontColor-default: white;
@borderColor-default: #ceefe4;
@bgColor-defult: white;

#app {
  height: 100%;
}

body {
  background: @bgColor-defult;
}

// 图标通用size
.icon-default-size {
  font-size: 24px;
}