@import '@styles/index.less';

.layout-warp {
    height: 100%;

    .layout-white-bg {
        background: @bgColor-default;
    }

    .layout-header {
        box-shadow: @box-shadow-default;
    }

    .layout-content {
        background: @content-box-bgColor;
        overflow-y: scroll;
        padding: 0 100px;
    }

        // home 内容区域
        .home-content-warp {
            margin: 50px 0;
            height: 100%;
            min-width: 1400px;
        }
}