@import '../../../styles/index.less';

.default-box {
    .empty-warp {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.default-inner {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    .inner-card-base {
        height: 100%;
    }

    // 左侧卡片
    .inner-card-left {
        .card-left-top {
            display: flex;
            justify-content: space-between;
            .card-left-mine-info {
                width: 450px;
                margin-right: 20px;
            }
            .card-left-carousel {
                flex: 1;
            }
        }
        .card-left-content {
            margin-top: 45px;
            height: 100%;
            .content-box {
                height: 100%;
            }
        }
    }
}
